* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    /*  */
  }
.navbar
{
    
}
.logo
{
    position: absolute;
    left: 20%;
    top: 1.5rem;
    transition: transform 1s;
    
}


.navbar_link
{
    position: absolute;
    font-size: 12px;
    top: 1.5rem;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration:underline;
    transition: transform 0.8s;
    
}
.logo:hover,
.navbar_link:hover{
    transform: scale(1.3);
    color: wheat;
    cursor: pointer;
}

#section-1
{
    width: auto;
    height: 100vh;
    background: url('images/LaBanner2.png') no-repeat;
    background-size: cover;
    display: flex;
}
    
#section-2
{
    background-color: rgb(82, 116, 144);
    width: auto;
    height: 10vh;
    
}
.section-2_logo
{
    position: absolute;
    left: 20%;
    height: 6%;
    margin-top: 7px;
    transition: transform 1s;
}
.section-2_nav_link
{
    position: absolute;
    font-size: 14px;
    color: rgb(71, 71, 114);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-decoration:underline;
    transition: transform 0.8s;
    margin-top: 18px;
}
.section-2_logo:hover,
.section-2_nav_link:hover{
    transform: scale(1.3);
    color:rgb(25, 25, 66);
    cursor: pointer;
}

#history-section
{
    width: 100%;
    height: 100vh;
    background: url(./images/Bg.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
}
.history-text
{
    position: absolute;
    left: 20%;
    margin-top: 12%;
    
}
#history-text-set
{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
}
.history{
    position: absolute;
    left: 14%;
    margin-top: 25px;
}



#section-4
{
    background-color: rgb(93, 131, 161);
    width: auto;
    height: 25vh;
}
.section-4_logo
{
    position: absolute;
    left: 10%;
    height: 6%;
    margin-top: 10px;
}

.section-4_text
{
    position: absolute;
    right: 12%;
    margin-top: 4%;
}
.section-4_text_set
{
    font-size: 13px;
    font-weight: 400;
    /* */
}
#section-5
{
    background-color: rgb(34, 53, 68);
    width: 100%;
    height: 9vh;
    margin: 0;
    padding: 0;
}

[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
   display: initial;
  }
  
.tabs {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 12px;
    background: rgb(34, 53, 68);
    color: #fff;
    
    
}
.tab {
    cursor: pointer;
    text-decoration: underline;
    
  }
  
  .tab.active {
    background-color: rgb(13, 12, 12);
    padding: 15px;
    border-radius: 5px;
}
  
  .tab:hover {
    background-color: rgb(40, 36, 30);
    border-radius: 5px;
  }
  
#section-6
{
    width: 100%;
    height: 90vh;
    background-repeat:  no-repeat;
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
    position: absolute; 
    
}
.bg
{
    width: 100%;
    height: 90vh;
    background-repeat:  no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative; 
}
.table
{
    width: auto;
    height: 10%;
    background-color: white;
}

#footer
{
    background-color: rgb(18, 36, 49);
    width: auto;
    height: 13vh;
    margin-top: 40%;
}

.footer-text
{
    font-size: 10px;
    color: rgb(69, 72, 90);
    position: absolute;
    right: 10%;
    font-weight: lighter;
    font-style: italic;
    margin-top: 2.5%;
}
#section-3 {
    margin-top: 25%;
    width: 100%;
    height: 60%;
    
  }
  
  .slides {
    display: flex;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior:smooth;
  }
  
  .slides-item {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: 30vh;
    justify-content: center;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
    background-color: rgba(65, 79, 107, 0.85);
    border-radius: 10px;
}
  
  .carousel__nav {
    padding: 1.25rem .5rem;
    padding-left: 40%;
  }
  
  .slider-nav {
    align-items: center;
    background-color: rgba(65, 79, 107, 0.85);
    border-radius: 30%;
    color: #000;
    display: inline-flex;
    height: 3.5rem;
    justify-content: center;
    /*  */
    position: relative;
    text-decoration: none;
    width: 4.5rem;
  }
  
  
  .slider-nav:active {
    background-color: #000;
    color: #fff;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
 

 
  
  
  

  